h1 About this site
p I'll be creating a blog in nodejs and express and then I'll use that blog to blog about how I created the blog.
p All very meta, I know ;-).
p I want to learn nodejs for the following reasons:
ul
  li I want to get a better understanding of web fundamentals
  li I want to get better at Javascript
  li learning something new is fun
p &nbsp;
p Joachim
