//"type": "article",
//  "title": "Post 1",
//  "path": "post-1",
//  "teaser-text": "teaser-text",
//  "body-text": "body-text",
//  "tags": ["tag1", "tag2"],
//  "date-created": "zo 25 mei 2014 15:19:09 CEST",
//  "date-updated": "zo 25 mei 2014 15:19:09 CEST",
//  "published": true

extends layout

block content
  unless published
    .unpublished
      p this page is not published
  h1 #{title}
  div= bodyText